.App {
  text-align: center;
  background-color: #5F3696;
  height: 100vh;
}

.App-header {
  background-color: #5F3696;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5F3696;
}
